<div class="row entity-header-row">
    <div class="col-md-8">
        <span class="entity-header-name">Settings</span>
    </div>
</div>
<div class="row entity-container-panel">
    <div class="col-md-2">
        <h1 class="entity-container-h1">Default Source</h1>
    </div>
    <div class="col-md-6" align="right">
        <span class="attribute-name">Entity Name</span>
    </div>
    <div class="col-md-6 lh-40" align="left">
        <input class="lh-20" type="text" ng-model="form.add.entity.name">
    </div>
</div>