{% include "partials/action_nav.html" %}

<div class="row">
    <div class="col-md-2 entity-list-column">
        {% include "partials/entity_type_list.html" %}
    </div>
    <div class="col-md-2 entity-list-column">
        {% include "partials/entity_name_list.html" %}
    </div>
    <div class="col-md-8">
        <div ng-show="view === 'import'">
            {% include "views/import.html" %}
        </div>
        <div ng-show="view === 'add'">
            {% include "views/add_entity.html" %}
        </div>
        <div ng-show="view === 'entity'">
            {% include "views/entity_detail.html" %}
        </div>
        <div ng-show="view === 'settings'">
            {% include "views/settings.html" %}
        </div>
    </div>
</div>