<div class="row" style="margin-top:80px;">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <h2>External Entity Manager</h2>
        </div>
        <div class="row">
            <p>
                This tool is used for the management of external entities. Use the navigation pane on the left to get
                started. To add a new External Entity, navigate to the Canvas tab. To import a list of existing
                external entities, click on the Import tab. To export all of the entities into an XML file for
                ingestion into Synthesis, click on the export tab. To view all of the External Entities that have
                been created by this manager, click on the Directory tab.
            </p>

        </div>
    </div>
</div>