<div class="row" style="margin-top:80px;">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <h2>Import Entities</h2>
        </div>
        <div class="row">
            <p>
                This tool will take a valid XML file containing a list of External Entities. If the overwrite option
                is selected, it will overwrite any existing entity with a matching ID. Otherwise, the entity will be
                skipped.
            </p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-xs-3">
                        <input type="checkbox">
                    </div>
                    <div class="col-xs-9">
                        Overwrite Existing Entities
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <h5>Select XML File</h5>
                    <input type="file" nv-file-select uploader="uploader" options="{url: '/upload'}"/><br/>
                    <ul>
                        <li ng-repeat="item in uploader.queue">
                            Name: <span ng-bind="item.file.name"></span><br/>
                            <button ng-click="item.upload()">upload</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>