{% extends 'layout.html' %}


{% block header %}

    <div class="app-header">
        <img class="app-brand" src="/static/img/dr_header_logo.svg">
        <ul class="app-nav">
            <li class="active"><a>Entities</a></li>
        </ul>
    </div>

{% endblock %}
{% block content %}

    <div class="app-container" ng-controller="AppCtrl">
        <div class="col-md-row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2 enti-sidebar">
                        {% include 'sidebar.html' %}
                    </div>
                    <div class="col-md-10">
                        <div ng-show="view=='default'">
                            {% include 'default.html' %}
                        </div>
                        <div ng-show="view=='editor'">
                            {% include 'editor.html' %}
                        </div>
                        <div ng-show="view=='import'">
                            {% include 'import.html' %}
                        </div>
                        <div ng-show="view=='export'">
                            {% include 'export.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}