{% extends 'layout.html' %}

{% block header %}

    <div class="app-header">
        <img class="app-brand" src="/static/img/dr_header_logo.svg">
        <ul class="app-nav">
            <li class="active"><a>Entities</a></li>
        </ul>
    </div>

{% endblock %}

{% block content %}

    <div class="container-fluid" ng-controller="AppCtrl">
        <div class="row">
            <div class="col-md-12">
                {% include 'default.html' %}
            </div>
        </div>
    </div>

{% endblock %}