#!/usr/bin/env bash
export DEPLOYMENT_MODE=development
export SECRET_KEY=secret
export SERVER_HOST=0.0.0.0
export SERVER_PORT=5100
export ENTITIES_SRC=enti
export SYNTHESYS_LOCAL=true
export SYNTHESYS_HOST=0.0.0.0
export SYNTHESYS_PORT=8999
export SYNTHESYS_SSL=false
export SYNTHESYS_USER=admin
export SYNTHESYS_PASS=1234
export INSTALL_DIR=/mnt/enti
export DATABASE_TYPE=mysql
export DATABASE_NAME=enti
export DATABASE_HOST=mysql
export DATABASE_PORT=3306
export DATABASE_USER=enti
export DATABASE_PASS=pass
export DATABASE_ROOT_PW=root