<div class="row action-nav" align="right">
    <button class="button button-3d button-small button-green" ng-click="entity.init.add()">
        Add New Entity
    </button>
    <button class="button button-3d button-small button-blue" ng-click="entity.init.import()">
        Import
    </button>
    <button class="button button-3d button-small button-blue" ng-click="entity.export()">
        Export
    </button>
    <button class="button button-3d button-small button-blue" ng-click="synic.init()">
        Ingest
    </button>
{#    <button class="button button-3d button-small button-blue" ng-click="">#}
{#        <i class="fa fa-gear"></i>#}
{#    </button>#}

</div>