<div class="row action-nav" align="right">
    <button class="button button-3d button-small button-green" ng-click="beforeAddEntity()">
        Add Entity
    </button>
    <button class="button button-3d button-small button-blue" ng-click="beforeImport()">
        Import Entities
    </button>
    <button class="button button-3d button-small button-blue" ng-click="exportEntities()">
        Export Entities
    </button>
    <button class="button button-3d button-small button-blue" ng-click="">
        <i class="fa fa-gear"></i>
    </button>
</div>