<div class="row action-nav" align="right">
    <button class="button button-3d button-small button-green" ng-click="entity.init.add()">
        Add Entity
    </button>
    <button class="button button-3d button-small button-blue" ng-click="entity.init.import()">
        Import Entities
    </button>
    <button class="button button-3d button-small button-blue" ng-click="entity.export()">
        Export Entities
    </button>
    <button class="button button-3d button-small button-blue" ng-click="">
        <i class="fa fa-gear"></i>
    </button>
</div>