<div class="col-md-2">
    <h1 class="entity-container-h1">Attributes</h1>
</div>
<div class="col-md-10">
    <div class="entity-attribute-container"
         ng-repeat="attribute in entities[selectedEntity].attributes | toArray">
        <div class="row">
            <div class="col-md-3" align="right">
                <span class="attribute-name">{a attribute.name a}</span>
            </div>
            <div class="col-md-9">
                <div ng-repeat="entry in attribute.data"
                     ng-mouseover="hover[entry.id] = true"
                     ng-mouseleave="hover[entry.id] = false">
                    <div class="row">
                        <div class="col-xs-7">
                            <div ng-repeat="field in entry.fields">
                                <div ng-init="initAttributeField(field.id)"
                                     class="row attribute-field-container"
                                     ng-mouseover="hover[field.id] = true"
                                     ng-mouseleave="hover[field.id] = false">
                                    <div class="col-xs-2 lh-35">
                                        <span class="attribute-field-name">{a field.name a}</span>
                                    </div>
                                    <div class="col-xs-6 lh-35">
                                                        <span ng-show="form.attribute.edit[field.id].expanded == false"
                                                              class="attribute-field-value">{a field.value a}</span>
                                        <input class="lh-20"
                                               ng-show="form.attribute.edit[field.id].expanded == true"
                                               type="text"
                                               ng-model="form.attribute.edit[field.id].value"
                                               ng-init="form.attribute.edit[field.id].value = field.value">
                                    </div>
                                    <div class="col-xs-4" align="right">
                                        <div ng-show="hover[field.id] == true && (form.attribute.edit[field.id] == null || form.attribute.edit[field.id].expanded == false)">
                                            <button ng-click="beforeUpdateAttribute(field.id)">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </div>
                                        <div ng-show="form.attribute.edit[field.id].expanded == true">
                                            <button ng-click="updateAttribute(selectedEntity, attribute.id, field.id)">
                                                <i class="fa fa-save"></i>
                                            </button>
                                            <button ng-click="form.attribute.edit[field.id].expanded = false">
                                                <i class="fa fa-remove"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div ng-show="hover[entry.id] == true">
                                <button ng-click="removeAttribute(selectedEntity, entry.id)"
                                        class="attribute-remove-button">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>