<div class="row">
    <div class="col-md-12">
        <button ng-class="{'entity-type-list-button': true, 'entity-li-active':entityFilter==='all'}"
                ng-click="entity.filter('all')">
            All
        </button>
    </div>
</div>
<div ng-repeat="entityType in entityTypes">
    <div class="row">
        <div class="col-md-12">
            <button ng-class="{'entity-type-list-button': true, 'entity-li-active':entityFilter===entityType.id}"
                    ng-click="entity.filter(entityType.id)">
                {a entityType.name a}
            </button>
        </div>
    </div>
</div>