<div class="col-md-2">
    <h1 class="entity-container-h1">Synthesys Instance</h1>
</div>
<div class="col-md-10">
    <div class="row">
        <div class="col-md-3" align="right">
            <span class="attribute-name">Synthesys URL</span>
        </div>
        <div class="col-md-9 lh-40" align="left">
            <span class="entity-property-value">{a synicApi.url a}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" align="right">
            <span class="attribute-name">Synthesys User</span>
        </div>
        <div class="col-md-9 lh-40" align="left">
            <span class="entity-property-value">{a synicApi.user a}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" align="right">
            <span class="attribute-name">Synic API Version</span>
        </div>
        <div class="col-md-9 lh-40" align="left">
            <span class="entity-property-value">{a synicApi.version a}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" align="right">
            <span class="attribute-name">Connected</span>
        </div>
        <div class="col-md-9 lh-40" align="left">
            <span class="entity-property-value">{a synicApi.connected a}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" align="right">
            <span class="attribute-name">Ingestion Capable</span>
        </div>
        <div class="col-md-9 lh-40" align="left">
            <span class="entity-property-value">{a synicApi.hasEEPipeline a}</span>
        </div>
    </div>

</div>